/* BATCH ICON SET */

@font-face {
	font-family: 'batch';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/batch-icons-webfont.eot');
	src: url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/batch-icons-webfont.woff') format('woff'), 
		url('../fonts/batch-icons-webfont.ttf') format('truetype'), 
		url('../fonts/batch-icons-webfont.svg#batch_iconsregular') format('svg');
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'batch';
		src: url('../fonts/batch-icons-webfont.svg') format('svg');

	}
}*/
.batchicon {
	font-weight: normal;
}
.batchicon:before {
	font-family: 'Batch';
	font-style: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


.batchicon_1:before {
	content: "\f000";
}
.batchicon_2:before {
	content: "\f001";
}
.batchicon_3:before {
	content: "\f002";
}
.batchicon_4:before {
	content: "\f003";
}
.batchicon_5:before {
	content: "\f004";
}
.batchicon_6:before {
	content: "\f005";
}
.batchicon_7:before {
	content: "\f006";
}
.batchicon_8:before {
	content: "\f007";
}
.batchicon_9:before {
	content: "\f008";
}
.batchicon_10:before {
	content: "\f009";
}
.batchicon_11:before {
	content: "\f00a";
}
.batchicon_12:before {
	content: "\f00b";
}
.batchicon_13:before {
	content: "\f00c";
}
.batchicon_14:before {
	content: "\f00d";
}
.batchicon_15:before {
	content: "\f00e";
}
.batchicon_16:before {
	content: "\f010";
}
.batchicon_17:before {
	content: "\f011";
}
.batchicon_18:before {
	content: "\f012";
}
.batchicon_19:before {
	content: "\f013";
}
.batchicon_20:before {
	content: "\f014";
}
.batchicon_21:before {
	content: "\f015";
}
.batchicon_22:before {
	content: "\f016";
}
.batchicon_23:before {
	content: "\f017";
}
.batchicon_24:before {
	content: "\f018";
}
.batchicon_25:before {
	content: "\f019";
}
.batchicon_26:before {
	content: "\f01a";
}
.batchicon_27:before {
	content: "\f01b";
}
.batchicon_28:before {
	content: "\f01c";
}
.batchicon_29:before {
	content: "\f01d";
}
.batchicon_30:before {
	content: "\f01e";
}
.batchicon_31:before {
	content: "\f020";
}
.batchicon_32:before {
	content: "\f021";
}
.batchicon_33:before {
	content: "\f022";
}
.batchicon_34:before {
	content: "\f023";
}
.batchicon_35:before {
	content: "\f024";
}
.batchicon_36:before {
	content: "\f025";
}
.batchicon_37:before {
	content: "\f026";
}
.batchicon_38:before {
	content: "\f027";
}
.batchicon_39:before {
	content: "\f028";
}
.batchicon_40:before {
	content: "\f029";
}
.batchicon_41:before {
	content: "\f02a";
}
.batchicon_42:before {
	content: "\f02b";
}
.batchicon_43:before {
	content: "\f02c";
}
.batchicon_44:before {
	content: "\f02d";
}
.batchicon_45:before {
	content: "\f02e";
}
.batchicon_46:before {
	content: "\f030";
}
.batchicon_47:before {
	content: "\f031";
}
.batchicon_48:before {
	content: "\f032";
}
.batchicon_49:before {
	content: "\f033";
}
.batchicon_50:before {
	content: "\f034";
}
.batchicon_51:before {
	content: "\f035";
}
.batchicon_52:before {
	content: "\f036";
}
.batchicon_53:before {
	content: "\f037";
}
.batchicon_54:before {
	content: "\f038";
}
.batchicon_55:before {
	content: "\f039";
}
.batchicon_56:before {
	content: "\f03a";
}
.batchicon_57:before {
	content: "\f03b";
}
.batchicon_58:before {
	content: "\f03c";
}
.batchicon_59:before {
	content: "\f03d";
}
.batchicon_60:before {
	content: "\f03e";
}
.batchicon_61:before {
	content: "\f040";
}
.batchicon_62:before {
	content: "\f041";
}
.batchicon_63:before {
	content: "\f042";
}
.batchicon_64:before {
	content: "\f043";
}
.batchicon_65:before {
	content: "\f044";
}
.batchicon_66:before {
	content: "\f045";
}
.batchicon_67:before {
	content: "\f046";
}
.batchicon_68:before {
	content: "\f047";
}
.batchicon_69:before {
	content: "\f048";
}
.batchicon_70:before {
	content: "\f049";
}
.batchicon_71:before {
	content: "\f04a";
}
.batchicon_72:before {
	content: "\f04b";
}
.batchicon_73:before {
	content: "\f04c";
}
.batchicon_74:before {
	content: "\f04d";
}
.batchicon_75:before {
	content: "\f04e";
}
.batchicon_76:before {
	content: "\f050";
}
.batchicon_77:before {
	content: "\f051";
}
.batchicon_78:before {
	content: "\f052";
}
.batchicon_79:before {
	content: "\f053";
}
.batchicon_80:before {
	content: "\f054";
}
.batchicon_81:before {
	content: "\f055";
}
.batchicon_82:before {
	content: "\f056";
}
.batchicon_83:before {
	content: "\f057";
}
.batchicon_84:before {
	content: "\f058";
}
.batchicon_85:before {
	content: "\f059";
}
.batchicon_86:before {
	content: "\f05a";
}
.batchicon_87:before {
	content: "\f05b";
}
.batchicon_88:before {
	content: "\f05c";
}
.batchicon_89:before {
	content: "\f05d";
}
.batchicon_90:before {
	content: "\f05e";
}
.batchicon_91:before {
	content: "\f060";
}
.batchicon_92:before {
	content: "\f061";
}
.batchicon_93:before {
	content: "\f062";
}
.batchicon_94:before {
	content: "\f063";
}
.batchicon_95:before {
	content: "\f064";
}
.batchicon_96:before {
	content: "\f065";
}
.batchicon_97:before {
	content: "\f066";
}
.batchicon_98:before {
	content: "\f067";
}
.batchicon_99:before {
	content: "\f068";
}
.batchicon_100:before {
	content: "\f069";
}
.batchicon_101:before {
	content: "\f06a";
}
.batchicon_102:before {
	content: "\f06b";
}
.batchicon_103:before {
	content: "\f06c";
}
.batchicon_104:before {
	content: "\f06d";
}
.batchicon_105:before {
	content: "\f06e";
}
.batchicon_106:before {
	content: "\f070";
}
.batchicon_107:before {
	content: "\f071";
}
.batchicon_108:before {
	content: "\f072";
}
.batchicon_109:before {
	content: "\f073";
}
.batchicon_110:before {
	content: "\f074";
}
.batchicon_111:before {
	content: "\f075";
}
.batchicon_112:before {
	content: "\f076";
}
.batchicon_113:before {
	content: "\f077";
}
.batchicon_114:before {
	content: "\f078";
}
.batchicon_115:before {
	content: "\f079";
}
.batchicon_116:before {
	content: "\f07a";
}
.batchicon_117:before {
	content: "\f07b";
}
.batchicon_118:before {
	content: "\f07c";
}
.batchicon_119:before {
	content: "\f07d";
}
.batchicon_120:before {
	content: "\f07e";
}
.batchicon_121:before {
	content: "\f080";
}
.batchicon_122:before {
	content: "\f081";
}
.batchicon_123:before {
	content: "\f082";
}
.batchicon_124:before {
	content: "\f083";
}
.batchicon_125:before {
	content: "\f084";
}
.batchicon_126:before {
	content: "\f085";
}
.batchicon_127:before {
	content: "\f086";
}
.batchicon_128:before {
	content: "\f087";
}
.batchicon_129:before {
	content: "\f088";
}
.batchicon_130:before {
	content: "\f089";
}
.batchicon_131:before {
	content: "\f08a";
}
.batchicon_132:before {
	content: "\f08b";
}
.batchicon_133:before {
	content: "\f08c";
}
.batchicon_134:before {
	content: "\f08d";
}
.batchicon_135:before {
	content: "\f08e";
}
.batchicon_136:before {
	content: "\f090";
}
.batchicon_137:before {
	content: "\f091";
}
.batchicon_138:before {
	content: "\f092";
}
.batchicon_139:before {
	content: "\f093";
}
.batchicon_140:before {
	content: "\f094";
}
.batchicon_141:before {
	content: "\f095";
}
.batchicon_142:before {
	content: "\f096";
}
.batchicon_143:before {
	content: "\f097";
}
.batchicon_144:before {
	content: "\f098";
}
.batchicon_145:before {
	content: "\f099";
}
.batchicon_146:before {
	content: "\f09a";
}
.batchicon_147:before {
	content: "\f09b";
}
.batchicon_148:before {
	content: "\f09c";
}
.batchicon_149:before {
	content: "\f09d";
}
.batchicon_150:before {
	content: "\f09e";
}
.batchicon_151:before {
	content: "\f0a0";
}
.batchicon_152:before {
	content: "\f0a1";
}
.batchicon_153:before {
	content: "\f0a2";
}
.batchicon_154:before {
	content: "\f0a3";
}
.batchicon_155:before {
	content: "\f0a4";
}
.batchicon_156:before {
	content: "\f0a5";
}
.batchicon_157:before {
	content: "\f0a6";
}
.batchicon_158:before {
	content: "\f0a7";
}
.batchicon_159:before {
	content: "\f0a8";
}
.batchicon_160:before {
	content: "\f0a9";
}
.batchicon_161:before {
	content: "\f0aa";
}
.batchicon_162:before {
	content: "\f0ab";
}
.batchicon_163:before {
	content: "\f0ac";
}
.batchicon_164:before {
	content: "\f0ad";
}
.batchicon_165:before {
	content: "\f0ae";
}
.batchicon_166:before {
	content: "\f0b0";
}
.batchicon_167:before {
	content: "\f0b1";
}
.batchicon_168:before {
	content: "\f0b2";
}
.batchicon_169:before {
	content: "\f0b3";
}
.batchicon_170:before {
	content: "\f0b4";
}
.batchicon_171:before {
	content: "\f0b5";
}
.batchicon_172:before {
	content: "\f0b6";
}
.batchicon_173:before {
	content: "\f0b7";
}
.batchicon_174:before {
	content: "\f0b8";
}
.batchicon_175:before {
	content: "\f0b9";
}
.batchicon_176:before {
	content: "\f0ba";
}
.batchicon_177:before {
	content: "\f0bb";
}
.batchicon_178:before {
	content: "\f0bc";
}
.batchicon_179:before {
	content: "\f0bd";
}
.batchicon_180:before {
	content: "\f0be";
}
.batchicon_181:before {
	content: "\f0c0";
}
.batchicon_182:before {
	content: "\f0c1";
}
.batchicon_183:before {
	content: "\f0c2";
}
.batchicon_184:before {
	content: "\f0c3";
}
.batchicon_185:before {
	content: "\f0c4";
}
.batchicon_186:before {
	content: "\f0c5";
}
.batchicon_187:before {
	content: "\f0c6";
}
.batchicon_188:before {
	content: "\f0c7";
}
.batchicon_189:before {
	content: "\f0c8";
}
.batchicon_190:before {
	content: "\f0c9";
}
.batchicon_191:before {
	content: "\f0ca";
}
.batchicon_192:before {
	content: "\f0cb";
}
.batchicon_193:before {
	content: "\f0cc";
}
.batchicon_194:before {
	content: "\f0cd";
}
.batchicon_195:before {
	content: "\f0ce";
}
.batchicon_196:before {
	content: "\f0d0";
}
.batchicon_197:before {
	content: "\f0d1";
}
.batchicon_198:before {
	content: "\f0d2";
}
.batchicon_199:before {
	content: "\f0d3";
}
.batchicon_200:before {
	content: "\f0d4";
}
.batchicon_201:before {
	content: "\f0d5";
}
.batchicon_202:before {
	content: "\f0d6";
}
.batchicon_203:before {
	content: "\f0d7";
}
.batchicon_204:before {
	content: "\f0d8";
}
.batchicon_205:before {
	content: "\f0d9";
}
.batchicon_206:before {
	content: "\f0da";
}
.batchicon_207:before {
	content: "\f0db";
}
.batchicon_208:before {
	content: "\f0dc";
}
.batchicon_209:before {
	content: "\f0dd";
}
.batchicon_210:before {
	content: "\f0de";
}
.batchicon_211:before {
	content: "\f0e0";
}
.batchicon_212:before {
	content: "\f0e1";
}
.batchicon_213:before {
	content: "\f0e2";
}
.batchicon_214:before {
	content: "\f0e3";
}
.batchicon_215:before {
	content: "\f0e4";
}
.batchicon_216:before {
	content: "\f0e5";
}
.batchicon_217:before {
	content: "\f0e6";
}
.batchicon_218:before {
	content: "\f0e7";
}
.batchicon_219:before {
	content: "\f0e8";
}
.batchicon_220:before {
	content: "\f0e9";
}
.batchicon_221:before {
	content: "\f0ea";
}
.batchicon_222:before {
	content: "\f0eb";
}
.batchicon_223:before {
	content: "\f0ec";
}
.batchicon_224:before {
	content: "\f0ed";
}
.batchicon_225:before {
	content: "\f0ee";
}
.batchicon_226:before {
	content: "\f100";
}
.batchicon_227:before {
	content: "\f101";
}
.batchicon_228:before {
	content: "\f102";
}
.batchicon_229:before {
	content: "\f103";
}
.batchicon_230:before {
	content: "\f104";
}
.batchicon_231:before {
	content: "\f105";
}
.batchicon_232:before {
	content: "\f106";
}
.batchicon_233:before {
	content: "\f107";
}
.batchicon_234:before {
	content: "\f108";
}
.batchicon_235:before {
	content: "\f109";
}
.batchicon_236:before {
	content: "\f10a";
}
.batchicon_237:before {
	content: "\f10b";
}
.batchicon_238:before {
	content: "\f10c";
}
.batchicon_239:before {
	content: "\f10d";
}
.batchicon_240:before {
	content: "\f10e";
}
.batchicon_241:before {
	content: "\f110";
}
.batchicon_242:before {
	content: "\f111";
}
.batchicon_243:before {
	content: "\f112";
}
.batchicon_244:before {
	content: "\f113";
}
.batchicon_245:before {
	content: "\f114";
}
.batchicon_246:before {
	content: "\f115";
}
.batchicon_247:before {
	content: "\f116";
}
.batchicon_248:before {
	content: "\f117";
}
.batchicon_249:before {
	content: "\f118";
}
.batchicon_250:before {
	content: "\f119";
}
.batchicon_251:before {
	content: "\f11a";
}
.batchicon_252:before {
	content: "\f11b";
}
.batchicon_253:before {
	content: "\f11c";
}
.batchicon_254:before {
	content: "\f11d";
}
.batchicon_255:before {
	content: "\f11e";
}
.batchicon_256:before {
	content: "\f120";
}
.batchicon_257:before {
	content: "\f121";
}
.batchicon_258:before {
	content: "\f122";
}
.batchicon_259:before {
	content: "\f123";
}
.batchicon_260:before {
	content: "\f124";
}
.batchicon_261:before {
	content: "\f125";
}
.batchicon_262:before {
	content: "\f126";
}
.batchicon_263:before {
	content: "\f127";
}
.batchicon_264:before {
	content: "\f128";
}
.batchicon_265:before {
	content: "\f129";
}
.batchicon_266:before {
	content: "\f12a";
}
.batchicon_267:before {
	content: "\f12b";
}
.batchicon_268:before {
	content: "\f12c";
}
.batchicon_269:before {
	content: "\f12d";
}
.batchicon_270:before {
	content: "\f12e";
}
.batchicon_271:before {
	content: "\f130";
}
.batchicon_272:before {
	content: "\f131";
}
.batchicon_273:before {
	content: "\f132";
}
.batchicon_274:before {
	content: "\f133";
}
.batchicon_275:before {
	content: "\f134";
}
.batchicon_276:before {
	content: "\f135";
}
.batchicon_277:before {
	content: "\f136";
}
.batchicon_278:before {
	content: "\f137";
}
.batchicon_279:before {
	content: "\f138";
}
.batchicon_280:before {
	content: "\f139";
}
.batchicon_281:before {
	content: "\f13a";
}
.batchicon_282:before {
	content: "\f13b";
}
.batchicon_283:before {
	content: "\f13c";
}
.batchicon_284:before {
	content: "\f13d";
}
.batchicon_285:before {
	content: "\f13e";
}
.batchicon_286:before {
	content: "\f140";
}
.batchicon_287:before {
	content: "\f141";
}
.batchicon_288:before {
	content: "\f142";
}
.batchicon_289:before {
	content: "\f143";
}
.batchicon_290:before {
	content: "\f144";
}
.batchicon_291:before {
	content: "\f145";
}
.batchicon_292:before {
	content: "\f146";
}
.batchicon_293:before {
	content: "\f147";
}
.batchicon_294:before {
	content: "\f148";
}
.batchicon_295:before {
	content: "\f149";
}
.batchicon_296:before {
	content: "\f14a";
}
.batchicon_297:before {
	content: "\f14b";
}
.batchicon_298:before {
	content: "\f14c";
}
.batchicon_299:before {
	content: "\f14d";
}
.batchicon_300:before {
	content: "\f14e";
}
.batchicon_301:before {
	content: "\f150";
}
.batchicon_302:before {
	content: "\f151";
}
.batchicon_303:before {
	content: "\f152";
}
.batchicon_304:before {
	content: "\f153";
}
.batchicon_305:before {
	content: "\f154";
}
.batchicon_306:before {
	content: "\f155";
}
.batchicon_307:before {
	content: "\f156";
}
.batchicon_308:before {
	content: "\f157";
}
.batchicon_309:before {
	content: "\f158";
}
.batchicon_310:before {
	content: "\f159";
}
.batchicon_311:before {
	content: "\f15a";
}
.batchicon_312:before {
	content: "\f15b";
}
.batchicon_313:before {
	content: "\f15c";
}
.batchicon_314:before {
	content: "\f15d";
}
.batchicon_315:before {
	content: "\f15e";
}
.batchicon_316:before {
	content: "\f160";
}
.batchicon_317:before {
	content: "\f161";
}
.batchicon_318:before {
	content: "\f162";
}
.batchicon_319:before {
	content: "\f163";
}
.batchicon_320:before {
	content: "\f164";
}
.batchicon_321:before {
	content: "\f165";
}
.batchicon_322:before {
	content: "\f166";
}
.batchicon_323:before {
	content: "\f167";
}
.batchicon_324:before {
	content: "\f168";
}
.batchicon_325:before {
	content: "\f169";
}
.batchicon_326:before {
	content: "\f16a";
}
.batchicon_327:before {
	content: "\f16b";
}
.batchicon_328:before {
	content: "\f16c";
}
.batchicon_329:before {
	content: "\f16d";
}
.batchicon_330:before {
	content: "\f16e";
}
.batchicon_331:before {
	content: "\f170";
}
.batchicon_332:before {
	content: "\f171";
}
.batchicon_333:before {
	content: "\f172";
}
.batchicon_334:before {
	content: "\f173";
}
.batchicon_335:before {
	content: "\f174";
}
.batchicon_336:before {
	content: "\f175";
}
.batchicon_337:before {
	content: "\f176";
}
.batchicon_338:before {
	content: "\f177";
}
.batchicon_339:before {
	content: "\f178";
}
.batchicon_340:before {
	content: "\f179";
}
.batchicon_341:before {
	content: "\f17a";
}
.batchicon_342:before {
	content: "\f17b";
}
.batchicon_343:before {
	content: "\f17c";
}