<% include ../../common/header.html %>

<% var viewName = 'About Us' %>

<title><%= viewName %></title>

<div id="#wrap">
	<div id="main" class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2" style="margin-bottom:15px">
				<div class="row" style="">
					<div class="col-sm-12">
						<h2>About Us</h2>
					</div>
				</div>
				<div class="row" style="padding-bottom:10px;">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<em>We are a group of people who just want to see life flourish throughout the world. Thats all...  Plain and simple.</em>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../../common/footer.html %>