// https://kuler.adobe.com/Picasso-Figure-dans-un-fauteuil-(1909-1910)-color-theme-2993240/

$dark      : #0A1018;
$dark_alt  : #2F3942;
$light     : #F2E5D5;
$light_alt : #C1B0A3;
$alt       : #736B68;

// loading

.loading-indicator {
  display: none;
}

.loading {
  .loading-indicator {
    display: block;
  }
}


// vendor

.vendors {
  .name {
    font-size: 150%;
    font-weight: bold;
    color: $dark;
  }

  .description {
    color: $dark_alt;
  }
}