// https://kuler.adobe.com/Picasso-Figure-dans-un-fauteuil-(1909-1910)-color-theme-2993240/

$background     : #0A1018;
$background_alt : #2F3942;
$foreground     : #F2E5D5;
$foreground_alt : #C1B0A3;
$alt            : #736B68;

